body {
  color: black;
  font-family: sans-serif;
  background-color: moccasin;
  font-size: 16px;
}
p {
  font-size: 16px;
  font-family: 'Arial';
}
p{
  color: black;
  font-size: 16px;
  font-family: 'Arial';
}
